* {
	padding: 0;
	margin: 0;
}

html, body {
	background-color: #202739;
	font-family: sans-serif;
	color: white;
}

.ui.form label {
	color: white !important;
}

.title {
	text-align: center;
	font-size: 40px;
	font-family: 'Italianno', sans-serif;
	letter-spacing: 10px;
	margin-top: 30px !important;
	margin-bottom: 100px;
}

#result {
	margin-top: 50px;
} #result > * {
	  color: white !important;
  }

#content{
	font-size: 22px;
}

#r_img {
	width: 350px;
	border-radius: 10px;
}